*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing:inherit;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
       box-sizing:border-box;
  }
  body{
    font-family: 'Poppins', sans-serif;
    color:#fff;
    background-color: #a8a889;
  }
.container{
    width:100%;
  
}
.header-primary{
    font-size: 4rem;
    text-align: center;
    padding: 4rem 0;
}
.accordian-container{
    max-width: 108rem;
    margin: 0 auto;
}

.accordian{
   width: 50vw;
   margin: 0 auto;
   background-color: cadetblue;
   padding: 2rem 3rem;
   margin-bottom: 1rem;
}

.accordian-head{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: 2rem 0;
}
.accordian-body{
    font-size: 1.2rem;
}
.hidden{
    display: none;
}